#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.
# Modified my Nicola Ferralis <feranick@hotmail.com> for version 2.1.5CV.
# Modified by Paolo Rampino aka Akirad
include /usr/share/dpatch/dpatch.make
package=cinelerra

CONFFLAGS=""
arch		:= $(shell dpkg-architecture -qDEB_HOST_ARCH)
#since we are building from .svn
+export DH_ALWAYS_EXCLUDE=.git

ifneq (, $(findstring smp2,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS=-j3
endif

include debian/rules.d/$(arch).mk


build: build-stamp
build-stamp:
	dh_testdir
	@if [ ! -e configure ] ; then ./autogen.sh; fi
	CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" \
		./configure --enable-opengl --prefix=/usr $(CONFFLAGS) 
	$(MAKE) $(MAKEFLAGS)
	docbook-to-man debian/cinelerra.sgml > debian/cinelerra.1
	docbook-to-man debian/mplexhi.sgml > debian/mplexhi.1
	docbook-to-man debian/mplexlo.sgml > debian/mplexlo.1
	touch build-stamp


clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean	
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean -a
	-rm -f debian/cinelerra.1
	-rm -f debian/mplexhi.1
	-rm -f debian/mplexlo.1
	-rm -f build-stamp
	
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	chmod -x debian/tmp/usr/lib/cinelerra/*
	chmod +x debian/tmp/usr/lib/cinelerra/fonts
	chmod -x debian/tmp/usr/lib/cinelerra/fonts/*

binary-indep: build install
       
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp --autodest
	dh_installdocs -XCVS
	dh_installchangelogs -a
	dh_installman
	dh_installmenu -n
	dh_link -a
	dh_icons -a
	dh_strip -a
	strip -x -s -R .comment -R .note debian/cinelerra/usr/lib/cinelerra/*.so
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_shlibdeps -a -v
	dh_installdeb -a
	dh_gencontrol 
	dh_builddeb -a

binary: binary-indep binary-arch

